<!-- manage.component-gobernantes.html -->
<div class="header bg-gradient-primary py-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center">
        <div class="col">
          <h1 class="header-title text-white">Gestión de Gobernantes</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="wave-container">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#ffffff" fill-opacity="1" d="M0,96L48,112C96,128,192,160,288,160C384,160,480,128,576,122.7C672,117,768,139,864,149.3C960,160,1056,160,1152,138.7C1248,117,1344,75,1392,53.3L1440,32L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
    </svg>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card shadow-soft border-0">
        <div class="card-header bg-transparent border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0 text-primary" *ngIf="mode==1">Detalle de Gobernante</h3>
              <h3 class="mb-0 text-primary" *ngIf="mode==2">Creación de Gobernante</h3>
              <h3 class="mb-0 text-primary" *ngIf="mode==3">Actualización de Gobernante</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group row">
              <label class="col-md-3 col-form-label text-md-right">ID</label>
              <div class="col-md-9">
                <input type="text" class="form-control" [(ngModel)]="gobernante.id" disabled name="id">
              </div>
            </div>
            
            <div class="form-group row">
              <label class="col-md-3 col-form-label text-md-right">ID Usuario</label>
              <div class="col-md-9">
                <div class="input-group input-group-merge">
                  <span class="input-group-text bg-light border-end-0">
                    <i class="fas fa-user text-primary"></i>
                  </span>
                  <input type="text" class="form-control ps-2 border-start-0" [(ngModel)]="gobernante.id_usuario" [disabled]="mode==1" name="id_usuario">
                </div>
              </div>
            </div>
            
            <div class="form-group row">
              <label class="col-md-3 col-form-label text-md-right">Periodo Inicio</label>
              <div class="col-md-9">
                <div class="input-group input-group-merge">
                  <span class="input-group-text bg-light border-end-0">
                    <i class="fas fa-calendar-day text-primary"></i>
                  </span>
                  <input type="date" class="form-control ps-2 border-start-0" [(ngModel)]="gobernante.periodo_inicio" [disabled]="mode==1" name="periodo_inicio">
                </div>
              </div>
            </div>
            
            <div class="form-group row">
              <label class="col-md-3 col-form-label text-md-right">Periodo Final</label>
              <div class="col-md-9">
                <div class="input-group input-group-merge">
                  <span class="input-group-text bg-light border-end-0">
                    <i class="fas fa-calendar-check text-primary"></i>
                  </span>
                  <input type="date" class="form-control ps-2 border-start-0" [(ngModel)]="gobernante.periodo_final" [disabled]="mode==1" name="periodo_final">
                </div>
              </div>
            </div>
            
            <div class="form-group row">
              <label class="col-md-3 col-form-label text-md-right">Departamento</label>
              <div class="col-md-9">
                <div class="input-group input-group-merge">
                  <span class="input-group-text bg-light border-end-0">
                    <i class="fas fa-map-marked-alt text-primary"></i>
                  </span>
                  <input type="text" class="form-control ps-2 border-start-0" [(ngModel)]="gobernante.departamentos" [disabled]="mode==1" name="departamentos">
                </div>
              </div>
            </div>
            
            <div class="form-group row">
              <label class="col-md-3 col-form-label text-md-right">Municipios</label>
              <div class="col-md-9">
                <div class="input-group input-group-merge">
                  <span class="input-group-text bg-light border-end-0">
                    <i class="fas fa-city text-primary"></i>
                  </span>
                  <input type="text" class="form-control ps-2 border-start-0" [(ngModel)]="gobernante.municipios" [disabled]="mode==1" name="municipios">
                </div>
              </div>
            </div>
            
            <div class="form-group row">
              <div class="col-md-3"></div>
              <div class="col-md-9">
                <button *ngIf="mode==1" class="btn btn-primary btn-block" (click)="back()">
                  <i class="fas fa-arrow-left mr-2"></i>Volver
                </button>
                <button *ngIf="mode==2" class="btn btn-primary btn-block" (click)="create()">
                  <i class="fas fa-save mr-2"></i>Crear
                </button>
                <button *ngIf="mode==3" class="btn btn-primary btn-block" (click)="update()">
                  <i class="fas fa-sync mr-2"></i>Actualizar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>